body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
}

/* ----- Grid Layout for Cards ----- */
.alumni-directory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
  padding: 40px 60px;
  background-color: #f4f7fb;
}

/* ----- Individual Card ----- */
.alumni-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 20px 15px;
  width: 220px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.alumni-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
}

/* ----- Profile Image ----- */
.alumni-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #b9d4f1;
  display: block;
  margin: 0 auto 8px;
}

/* ----- Name & Designation ----- */
.alumni-name {
  color: #003b66;
  font-size: 1.05rem;
  font-weight: 700;
  margin: 4px 0 2px 0;
}

.alumni-designation {
  color: #6b6b6b;
  font-size: 0.9rem;
  margin-bottom: 1px;
}

/* ----- Buttons Section ----- */
.alumni-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.view-btn,
.connect-btn {
  background-color: #003b66;
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-btn:hover,
.connect-btn:hover {
  background-color: #003b66;
  transform: scale(1.05);
}

/* ----- Empty message ----- */
.alumni-directory p {
  /*grid-column: 1 / -1; */
  text-align: center;
  color: #555;
  font-size: 1rem;
  margin-top: 50px;
}

/* ----- Responsive Design ----- */
@media (max-width: 1024px) {
  .alumni-directory {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .alumni-directory {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .alumni-directory {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}






.connect-btn,.view-btn {
  background: #003b66;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.connect-btn:hover {
  background: #0e466eff;
}

.requested-btn {
  background: #003b66;
  color: #ffffffff;
  cursor: not-allowed;
  border-radius: 6px;
}

.connected-btn {
  background:#003b66;
  cursor: not-allowed;
  border-radius: 6px;
}
